/* Custom CSS classes for the Story Template */

.header-links{
	padding-top: 100px;
}
.articles-list a {
	text-decoration: none;
	
}

.twitter-signature {
	font-style: italic;
}
.twitter-heading h2 {
    margin-top: 20px;
}

.lean-slider-slide.current { 
	display: block; 
	z-index: 100;
	opacity: 1;
}

.lean-slider { 
    position: relative; 
    *zoom: 1;
}
.lean-slider:before,
.lean-slider:after {
    content: " ";
    display: table;
}
.lean-slider:after {
    clear: both;
}

.lean-slider-slide {
	float: left;
    width: 100%;
    margin-right: -100%;
    display: block;
    position: relative;
    opacity: 0;
    -webkit-transition: opacity 0.6s linear;
    -moz-transition: opacity 0.6s linear;
    -ms-transition: opacity 0.6s linear;
    -o-transition: opacity 0.6s linear;
    transition: opacity 0.6s linear;
    z-index: 10;
}


#slider-direction-nav {
    position: absolute;
    left: 0;
    top: 47%;
    width: 100%;
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -ms-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
    opacity: 0.2;
    z-index: 1000;
}
.slider-wrapper:hover #slider-direction-nav { opacity: 1; }

#slider-direction-nav a {
    float: left;
    display: block;
    width: 26px;
    height: 37px;
    background: url('../images/slider_imgs/arrows.png') no-repeat 0 0;
    text-indent: -9999px;
}
#slider-direction-nav .lean-slider-next {
    float: right;
    background-position: 100% 0;
}

#slider-control-nav {
    left: 0;
    bottom: 10px;
    width: 100%;
    text-align: center;
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -ms-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
    opacity: 0.2;
    z-index: 1000;
}
.slider-wrapper:hover #slider-control-nav { opacity: 1; }

#slider-control-nav a {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url('../images/slider_imgs/bullets.png') no-repeat 0 0;
    text-indent: -9999px;
    margin: 0 3px;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}
#slider-control-nav a.active { background-position: 100% 0; }